@import '../../styles/colors.scss';

.NewsContainer {
  position: relative;
  &-Image {
    border-radius: 10px 10px 0 0;
    width: 100%;
  }

  &-Description {
    margin: 10px 0;
    text-align: justify;
  }

  &-Date {
    text-align: justify;
    color: $font-secondary;
  }
  
  &-Item {
    position: relative;
    color: $font-primary;
    text-align: center;
    width: 450px;
    height: 600px;
    margin: 0.5rem;
    background-color: $primary-color;
    border-radius: 10px;
    overflow-y: auto;
  
    p {
      padding: 0 10px;
    }
  }
  button {
    cursor: pointer;
    height: 35px;
    width: 450px;
    position: absolute;
    bottom: 8px;
    left: 8px;
    border-radius: 0 0 10px 10px;
  }
}
